body{
    background-color: rgba(127, 255, 212, 0.478);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.card-title{
text-align: center;
font-size: x-large;
}